* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;

  h1 {
    text-align: center;
  }
}

main {
  height: 90vh;

  section {
    height: 100%;
    padding: 30px;
  }
}